<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Usercenter@Public/sidemenu"/>
</block>

<block name="content">
    <div class="well well-lg ell-homework-main">
        <h2 class="page-header">修改已布置的作业</h2>

        <form class="form-horizontal" id="addHomeworkForm" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">科 目</label>
                <div class="col-xs-8 col-sm-10">
                    <p class="form-control-static">{$info.subject_id|conver_subjectId_to_name}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">班 级</label>
                <div class="col-xs-8 col-sm-10">
                    <p class="form-control-static">{$info.cls_id|clsID_to_clsName}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">预计用时</label>
                <div class="col-xs-8 col-sm-3">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="setTime" name="suggest_time" value="{$info.suggest_time}">
                      <span class="input-group-addon">分钟</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="15">15分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="30">30分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="60">60分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="90">90分钟</button>
                </div>
            	<input type="hidden" name="id" value={$info.id}>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="homework" name="content" rows="8" placeholder="请输入作业内容，建议格式如下：">{$info.content}</textarea>
                <div class="pull-right">
                    <a class="btn btn-danger" href="" title="放弃修改">返回</a>
                    <button type="button" class="btn btn-warning" data-submit="form" data-target="#addHomeworkForm" data-url="{:U('edit')}" data-status="0" data-loading-text="提交中..." autocomplete="off">今天没作业</button>
                </div>
            </div>
        </form>
        <hr>
        <h3>作业布置情况</h3>
 		<foreach name='class_homework_info' key='clsId' item='subjectInfo'>
        
        <div class="row ell-homework-state">
            <div class="col-xs-6 col-sm-2">
                <span class="h5"><strong>{$clsId|clsID_to_clsName} </strong></span>
            </div>
            <div class="col-xs-6 col-sm-2">
                合计：<span class="label label-primary">{$subjectInfo|homework_total_time} 分钟</span>
            </div>
            
            <foreach name='subjectInfo'  key='subject_id' item='hw'>
            <div class="col-xs-6 col-sm-2">
            <if condition="$hw.suggest_time gt 0"> 
                {$subject_id|conver_subjectId_to_name}：<span class="label label-info">{$hw.suggest_time}分钟</span> 
            <elseif condition="isset($hw['suggest_time'])"/>
                {$subject_id|conver_subjectId_to_name}：<span class="label label-warning">没作业</span> 
            <else />
                {$subject_id|conver_subjectId_to_name}：<span class="label label-default">未布置</span> 
            </if>
            </div>
           
            </foreach>
        </div>
        </foreach>
    </div>

</block>

<block name="script">
    <script src="__JS__/homework.js"></script>
</block>