<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Usercenter@Public/sidemenu"/>
</block>

<block name="content">
    <div class="well well-lg ell-homework-main">
        <h2 class="page-header">修改已布置的作业</h2>

        <form class="form-horizontal" id="addHomeworkForm" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">科 目</label>
                <div class="col-xs-8 col-sm-10">
                    <p class="form-control-static">{$info.subject_id|}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">班 级</label>
                <div class="col-xs-8 col-sm-10">
                    <p class="form-control-static">{$clsId|clsID_to_clsName}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">预计用时</label>
                <div class="col-xs-8 col-sm-3">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="setTime" name="time">
                      <span class="input-group-addon">分钟</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="15">15分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="30">30分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="60">60分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="90">90分钟</button>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="homework" name="homework" rows="8" placeholder="请输入作业内容，建议格式如下："></textarea>
                <div class="pull-right">
                    <a class="btn btn-danger" href="" title="放弃修改">返回</a>
                    <button type="button" class="btn btn-warning" data-submit="form" data-target="#addHomeworkForm" data-url="{:U('edit')}" data-status="0" data-loading-text="提交中..." autocomplete="off">今天没作业</button>
                </div>
            </div>
        </form>
        <hr>
        <h3>作业布置情况</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-2">
                <span class="h5"><strong>2009 级 1 班</strong></span>
            </div>
            <div class="col-xs-6 col-sm-2">
                合计：<span class="label label-primary">120分钟</span>
            </div>
            <div class="col-xs-6 col-sm-2">
                数学：<span class="label label-default">60分钟</span> 
            </div>
            <div class="col-xs-6 col-sm-2">
                英语：<span class="label label-default">60分钟</span> 
            </div>
        </div>
    </div>
    <div class="ell-homework-history">
        <include file="history"/>
    </div>
</block>

<block name="script">
    <script src="__JS__/homework.js"></script>
</block>