<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Usercenter@Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>作业 / 布置作业 </h2>
    </div>

    <empty name='class_list'>
    <div class="well well-lg">
        <p class="text-center">您目前没有可布置作业的班级，点击 <a href="{:U('homework/manager')}">管理作业</a> 可以查看各班级的作业情况</p>
    </div>

    <else />

    <div class="well well-lg">
        <form class="form-horizontal" id="addHomeworkForm" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">科 目</label>
                <div class="col-xs-8 col-sm-10 btn-group">
                	<foreach name='subject_list' item='info'>
                    <if condition="$subject_id eq $info['id']">
                    <a class="btn btn-primary btn-sm" href="{$info.url}">{$info.id|conver_subjectId_to_name}</a>
                    <else />
                    <a class="btn btn-default btn-sm" href="{$info.url}">{$info.id|conver_subjectId_to_name}</a>
                    </if>
                    </foreach>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">班 级</label>
                <div class="col-xs-8 col-sm-10">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-toggle="checkall" data-target="class" checked> 全 选
                            </label>
                        </div>
                        <foreach name='class_list' item='clsId'>
                        <div class="col-sm-3 col-lg-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-check="class" name="class_ids[]" value="{$clsId}" checked> {$clsId|clsID_to_clsName}
                            </label>
                        </div>
                        </foreach>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">作业内容</label>
                <div class="col-xs-4 col-sm-10">
                    <textarea class="form-control" id="homework" name="content" rows="8" placeholder="请输入作业内容，建议格式如下："></textarea>
                </div>
            </div>
            <div class="form-group hidden">
                <label class="col-xs-4 col-sm-2 control-label">建议用时</label>
                <div class="col-xs-8 col-sm-3">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="setTime" name="suggest_time" value="30" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus">
                      <span class="input-group-addon">分钟</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="15">15分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="30">30分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="60">60分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="90">90分钟</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-2 ell-foot-btn">
                    <button type="submit" class="btn btn-lg btn-warning btn-block" data-submit="form" data-target="#addHomeworkForm" data-url="{:U('add')}" data-loading-text="提交中..." autocomplete="off">今天没作业</button>
                </div>
            </div>
            <input type="hidden" name="subjectId" value="{$subject_id}">
        </form>
        <hr>
        <h3>作业布置情况</h3>
 		<foreach name='class_homework_info' key='clsId' item='subjectInfo'>
        
        <div class="row ell-homework-state">
            <div class="col-xs-6 col-sm-2">
                <span class="h5"><strong>{$clsId|clsID_to_clsName} </strong></span>
            </div>
            <div class="col-xs-6 col-sm-2">
                合计：<span class="label label-primary">{$subjectInfo|homework_total_time} 分钟</span>
            </div>
            
            <foreach name='subjectInfo'  key='subject_id' item='hw'>
            <div class="col-xs-6 col-sm-2">
            <if condition="$hw.suggest_time gt 0"> 
                {$subject_id|conver_subjectId_to_name}：<span class="label label-info">{$hw.suggest_time}分钟</span> 
            <elseif condition="isset($hw['suggest_time'])"/>
                {$subject_id|conver_subjectId_to_name}：<span class="label label-warning">没作业</span> 
            <else />
                {$subject_id|conver_subjectId_to_name}：<span class="label label-default">未布置</span> 
            </if>
            </div>
           
            </foreach>
        </div>
        </foreach>
    </div>
    <div class="ell-homework-history">
        <!-- 屏蔽 <include file="history"/> -->
    </div>
    </empty>
</block>

<block name="script">
    <script src="__JS__/homework.js"></script>
</block>

