<extend name="Public/base"/>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Usercenter@Public/sidemenu"/>
</block>

<block name="content">
    <div class="well well-lg ell-homework-main">
        <h2 class="page-header">布置作业</h2>

        <form class="form-horizontal" id="addHomeworkForm" role="form">
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">科 目</label>
                <div class="col-xs-8 col-sm-10 btn-group">
                	<foreach name='subject_list' item='info'>
                    <a class="btn btn-primary btn-sm" href="{$info.url}">{$info.id|conver_subjectId_to_name}</a>
                    </foreach>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">班 级</label>
                <div class="col-xs-8 col-sm-10">
                    <div class="row">
                        <div class="col-sm-3 col-lg-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-toggle="checkall" data-target="class" checked> 全 选
                            </label>
                        </div>
                        <foreach name='class_list' item='clsId'>
                        <div class="col-sm-3 col-lg-2">
                            <label class="checkbox-inline">
                                <input type="checkbox" data-check="class" name="class_ids[]" value="{$clsId}" checked> {$clsId|clsID_to_clsName}
                            </label>
                        </div>
                        </foreach>
                        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">已布置班级</label>
                <foreach name='underway_list' item='v'>
                <div class="col-xs-8 col-sm-10">
                    <div class="row form-control-static">
                        <div class="col-sm-3">
                            <span>{$v.clsId|clsID_to_clsName}</span>
                            <a href='{$v.url}'>修改</a>
                        </div>
                    </div>
                </div>
                </foreach>
            </div>
            <div class="form-group">
                <label class="col-xs-4 col-sm-2 control-label">预计用时</label>
                <div class="col-xs-8 col-sm-3">
                    <div class="input-group input-group-sm">
                      <input type="text" class="form-control" id="setTime" name="suggest_time">
                      <span class="input-group-addon">分钟</span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="15">15分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="30">30分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="60">60分钟</button>
                    <button type="button" class="btn btn-primary btn-sm" data-form-btn="set-time" data-target="#setTime" data-content="90">90分钟</button>
                </div>
            </div>
            <input type="hidden" name="subjectId" value={$subject_id}>
            <div class="form-group">
                <textarea class="form-control" id="homework" name="content" rows="8" placeholder="请输入作业内容，建议格式如下："></textarea>
                <div class="pull-right">
                    <button type="button" class="btn btn-warning" data-submit="form" data-target="#addHomeworkForm" data-url="{:U('add')}" data-status="0" data-loading-text="提交中..." autocomplete="off">今天没作业</button>
                </div>
            </div>
        </form>
        <hr>
        <h3>作业布置情况</h3>
        <foreach name='class_homework_info' key='clsId' item='subjectInfo'>
        
        <div class="row">
          <div class="col-xs-6 col-sm-2">
                <span class="h5"><strong>{$clsId|clsID_to_clsName} </strong></span>
          </div>
          <div class="col-xs-6 col-sm-2">
                合计：<span class="label label-primary">120分钟</span>
          </div>
          
          <foreach name='subjectInfo'  key='subject_id' item='hwinfo'>
          <div class="col-xs-6 col-sm-2">
                {$subject_id|conver_subjectId_to_name}：<span class="label label-default">{$hwinfo.suggest_time}分钟</span> 
          </div>
          </foreach>
        </div>
        </foreach>
    </div>
    <div class="ell-homework-history">
        <include file="history"/>
    </div>
</block>

<block name="script">
    <script src="__JS__/homework.js"></script>
</block>