<extend name="Public/base"/>

<block name="header"></block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>学生信息管理 [批量编辑 2013 级 1 班]
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <button class="btn btn-success" data-submit="edit-table" data-target="#hs" data-loading-text="保存中..." data-url="{:U('student/update')}" autocomplete="off">保 存</button>
                <a class="btn btn-danger" href="{:U('index')}">返 回</a>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <div id="hs" data-url="{:U('student/batchEdit')}"></div>
    </div>
</block>

<block name="style">
    <link href="__STATIC__/handsontable/handsontable.full.min.css" rel="stylesheet">
</block>

<block name="script">
    <script src="__STATIC__/handsontable/handsontable.full.min.js"></script>
    <script src="__JS__/hstable.js"></script>
    <script>
    $(function(){
        // 获取用户数据
        var userData = getUserData();
        
        tableHandle(userData);
    });
    </script>
</block>