<extend name="Public/base"/>

<block name="header">
    <include file="Student/modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="$sidebar_file"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>学生信息管理 [ {$class_name}
            <select name="class">
                <volist name="classes" id="vo">
                <option value="{:U('AuthManager/access',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}" <eq name="vo['id']" value="$this_group['id']">selected</eq>>
                    {$vo.title}
                </option>
                </volist>
            </select>
        ]</h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <div class="btn-group">
                    <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-get-param="id=0">新 增</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">下拉菜单</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    <li><a href="{:U('batchEdit')}">批量新增</a></li>
                    </ul>
                </div>
                <button class="btn btn-success ajax-post" data-target="[data-check='ids']" data-confirm="确认要删除吗?" data-url="">删 除</button>
                <a class="btn btn-success" href="{:U('batchEdit')}">批量编辑</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 col-md-offset-6 input-group">
                <input type="text" class="form-control" id="search" name="nickname" value="{:I('nickname')}" placeholder="请输入学生学号或姓名">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" data-submit="search" data-target="#search" data-url="{:U('index')}">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    
    <!-- 数据表格 -->
    <div class="data-table">
        <div class="data-table-head">
            <span class="text-muted">
                学生人数：<span class="text-danger">2 </span>人
            </span>
            <span class="text-muted">
                未绑定微信：<span class="text-danger">2 </span>人
            </span>
        </div>
        <table class="table table-condensed table-hover" data-url="{:U('weixin/test/parentBind')}">
            <thead>
                <tr>
                    <th class="row-selected"><input type="checkbox" data-toggle="checkall" data-target="ids"/></th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>手机</th>
                    <th>微信绑定</th>
                    <th class="operator-xs-4"></th>
                </tr>
            </thead>
            <tbody>
           	    <foreach name="student_lists" item="vo">
                <tr>
                    <td><input type="checkbox" data-check="ids" name="ids[]" value="{$vo.id}"></td>
                    <td>{$vo.pin2}</td>
                    <td>{$vo.true_name}</td>
                    <td><eq name="vo['sex']" value="male">男<else/>女</eq></td>
                    <td>{$vo.mobile}</td>
                    <td>
                        <if condition="$vo['chat_rel_id'] eq true">
                        <span class="cursor-pointer" data-id="popover" data-get-param="id={$vo.id}">
                            <span class="glyphicon glyphicon-ok text-success"></span> 已绑定
                        </span>
                        <else />
                        <span>
                            <span class="glyphicon glyphicon-remove text-danger"></span> 未绑定
                        </span>
                        </if>
                    </td>
                    <td>
                        <if condition="$vo['chat_rel_id'] eq true">
                        <button type="button" class="btn btn-danger btn-xs operator ajax-get" data-confirm="确认要执行吗?" data-loading-text="执行中..." data-url="{:U('unbindStudent','id='.$vo[id])}" autocomplete="off">解除绑定</button>
                        </if>
                        <button class="btn btn-success btn-xs operator" data-toggle="modal" data-target="#myModal" data-get-param="id={$vo.id}">编 辑</button>
                    </td>
                </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script src="__STATIC__/common/js/widget.js"></script>
    <script>    
    $(function(){
        $('select[name=group]').change(function(){
            location.href = this.value;
        });
    });
    </script>
</block>