<div class="modal fade" id="myModal" data-url="{:U('tuser/studentInit')}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span></span>学生</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="myModalForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="studentId">学号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="studentId" name="student_id" readonly>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="name">姓名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="name" name="true_name">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="password" name="password">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">性别</label>
                        <div class="col-sm-4">
                            <label class="radio-inline">
                              <input type="radio" name="sex" value="male" checked> 男
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="sex" value="female"> 女
                            </label>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="email">邮箱</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="email" name="email">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="mobile">联系方式</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="mobile" name="mobile">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="dadName">父亲</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="dadName" name="dad_name">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="dadMobile">父亲手机</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="dadMobile" name="dad_mobile">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="momName">母亲</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="momName" name="mom_name">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="momMobile">母亲手机</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="momMobile" name="mom_mobile">
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-submit="modal" data-target="#myModalForm" data-url="{:U('add')}" data-loading-text="提交中..." autocomplete="off">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){

    initModalEvent('#myModal', initModal);

    function initModal($modal, data) {
        $("span", "#myModalLabel").html(data.id===""?"新增":"编辑");

        $("#studentId").prop('readonly', data.id===""?false:true);
        
        for (var i in data) {
            $("[name=" + i + "]", $modal).val(data[i]);
        }
    }
});
</script>