<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置 [学期设置]
        </h2>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>学年</th>
                    <th>学期</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="term_list" item="vo">
                <tr>
                    <td>{$vo.term_year}</td>
                    <td>{$vo.term_order}</td>
                    <td>{$vo.term_start|date='Y-m-d',###}</td>
                    <td>{$vo.term_end|date='Y-m-d',###}</td>
                    <td><button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-get-param="id={$vo.id}">编 辑</button></td>
                </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</block>
