<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置 [学期设置]
        </h2>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>学年</th>
                    <th>上学期 开始时间</th>
                    <th>上学期 结束时间</th>
                    <th>下学期 开始时间</th>
                    <th>下学期 结束时间</th>
                    <th class="operator-xs-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                     <td>{$next['term_year']}-{$now['term_year']++}</td>
                    <td>{$next.t1|date='Y-m-d',###}</td>
                    <td>{$next.t2|date='Y-m-d',###}</td>
                    <td>{$next.t3|date='Y-m-d',###}</td>
                    <td>{$next.t4|date='Y-m-d',###}</td>
                    <td><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal" data-get-param="id=0">切换至新学年</button></td>
                </tr>                

                <tr>
                    <td>{$now['term_year']}-{$now['term_year']++}</td>
                    <td <eq name="$now.t1" value="t1">class="info" title="上学期正在进行"</eq>>{$now.t1|date='Y-m-d',###}</td>
                    <td <eq name="$now.t1" value="t2">class="info" title="上学期已结束"</eq>>{$now.t2|date='Y-m-d',###}</td>
                    <td <eq name="$now.t1" value="t3">class="info" title="下学期正在进行"</eq>>{$now.t3|date='Y-m-d',###}</td>
                    <td <eq name="$now.t1" value="t4">class="info" title="下学期已结束"</eq>>{$now.t4|date='Y-m-d',###}</td>
                    <td><button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-get-param="id={$now.id}">编 辑</button></td>
                </tr>
                
                <foreach name="term_histoty_list" item="vo">
                <tr class="collapse" data-id="history">
                    <td>{$vo['term_year']}-{$vo['term_year']++}</td>
                    <td>{$vo.t1|date='Y-m-d',###}</td>
                    <td>{$vo.t2|date='Y-m-d',###}</td>
                    <td>{$vo.t3|date='Y-m-d',###}</td>
                    <td>{$vo.t4|date='Y-m-d',###}</td>
                    <td></td>
                </tr>
                </foreach>

                <td class="text-center cursor-pointer" id="showHistory" data-toggle="collapse" data-target="[data-id='history']" data-state="hidden" colspan="6"> 
                    <span>显示学期历史记录</span> <i class="fa fa-chevron-down"></i> 
                </td>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script>
    $(function(){
        $('#showHistory').click(function(event) {
            var $this = $(this);
            var state = $this.data("state");
            if (state === "hidden") {
                $this.find('span').html("收起学期历史记录");
                $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
                $this.data("state", "shown");
            } else {
                $this.find('span').html("显示学期历史记录");
                $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                $this.data("state", "hidden");
            }
        });
    });
    </script>
</block>