<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
    <include file="finishmodal"/>
    <include file="switchmodal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置 [学期设置]
        </h2>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>学年</th>
                    <th>上学期 开始时间</th>
                    <th>上学期 结束时间</th>
                    <th>下学期 开始时间</th>
                    <th>下学期 结束时间</th>
                    <th>学年状态</th>
                    <th class="operator-xs-3"></th>
                </tr>
            </thead>
            <tbody>
            	<notempty name="next">
                <tr>
                    <td>{$next['id']}-{$next['id']++}</td>
                    <td>{$next.t1}</td>
                    <td>{$next.t2}</td>
                    <td>{$next.t3}</td>
                    <td>{$next.t4}</td>
                    <td>设置新学年</td>
                    <td>
                        <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-get-param="id={$now.id}">编 辑</button>
                        <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#switchModal">切换至新学年</button>
                    </td>
                </tr>
                </notempty>               
				
				<notempty name="now">
                <tr>
                    <td>{$now['id']}-{$now['id']++}</td>
                    <td <eq name="now['current']" value="t1">class="info" title="上学期正在进行"</eq>>{$now.t1}</td>
                    <td <eq name="now['current']" value="t2">class="info" title="上学期已结束"</eq>>{$now.t2}</td>
                    <td <eq name="now['current']" value="t3">class="info" title="下学期正在进行"</eq>>{$now.t3}</td>
                    <td <eq name="now['current']" value="t4">class="info" title="下学期已结束"</eq>>{$now.t4}</td>
                    <td>进行</td>
                    <td>
                        <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-get-param="id={$now.id}">编 辑</button>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#finishModal" data-info='{"current":"2013-2014", "next":"2014-2015", "state":"t3"}'>结束本学年</button>
                    </td>
                </tr>
                </notempty>
                
                <foreach name="term_histoty_list" item="vo">
                <tr class="collapse" data-id="history">
                    <td>{$vo['id']}-{$vo['id']++}</td>
                    <td>{$vo.t1}</td>
                    <td>{$vo.t2}</td>
                    <td>{$vo.t3}</td>
                    <td>{$vo.t4}</td>
                    <td>结束</td>
                    <td></td>
                </tr>
                </foreach>

                <td class="text-center cursor-pointer" id="showHistory" data-toggle="collapse" data-target="[data-id='history']" data-state="hidden" colspan="7"> 
                    <span>显示学期历史记录</span> <i class="fa fa-chevron-down"></i> 
                </td>
            </tbody>
        </table>
    </div>
</block>

<block name="style">
    <link href="__STATIC__/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</block>

<block name="script">
    <script src="__STATIC__/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="__STATIC__/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
    <script>
    $(function(){
        $('#showHistory').click(function(event) {
            var $this = $(this);
            var state = $this.data("state");
            if (state === "hidden") {
                $this.find('span').html("收起学期历史记录");
                $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
                $this.data("state", "shown");
            } else {
                $this.find('span').html("显示学期历史记录");
                $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                $this.data("state", "hidden");
            }
        });
    });
    </script>
</block>