<div class="modal fade" id="myModal" data-url="{:U('getTermInfo')}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span></span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="myModalForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">学年</label>
                        <div class="col-sm-4">
                            <p class="form-control-static" data-id="term_year"></p>
                        </div>
                    </div>
                    
                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="lastTermStart" >上学期 开始时间</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="lastTermStart" name="t1" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="form-control-feedback has-addon"></span>
                        </div>
                        <div class="col-sm-5 help-block hidden"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="lastTermEnd">上学期 结束时间</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="lastTermEnd" name="t2" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="form-control-feedback has-addon"></span>
                        </div>
                        <div class="col-sm-5 help-block hidden"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="lastTermStart" >下学期 开始时间</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="lastTermStart" name="t3" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="form-control-feedback has-addon"></span>
                        </div>
                        <div class="col-sm-5 help-block hidden"></div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="lastTermEnd">下学期 结束时间</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <input type="text" class="form-control" id="lastTermEnd" name="t4" readonly>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span class="form-control-feedback has-addon"></span>
                        </div>
                        <div class="col-sm-5 help-block hidden"></div>
                    </div>
                    <input type="hidden" name="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-submit="modal" data-target="#myModalForm" data-url="{:U('setTermInfo')}" data-loading-text="提交中..." autocomplete="off">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    initModalEvent('#myModal', initModal);

    function initModal($modal, data) {

        $("span", "#myModalLabel").html(data.title);
        $("[data-id='term_year']", $modal).html(data.term_year.value);
		
        for (var i in data) {
            $("[name=" + i + "]", $modal).val(data[i].value);
        }
    }

    $('.date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd",
        pickerPosition: "bottom-left"
    });
});

</script>