<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">新增学期</h4>
            </div>
            <div class="modal-body">
                <form id="addTermForm" role="form">
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="pull-right">学年：</h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="term_year" value="" readonly>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span>格式错误</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="pull-right">学期：</h4>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" name="term_order" value="" readonly>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span>格式错误</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="pull-right">开始时间：</h4>
                        </div>
                        <div class="col-sm-4 input-group date">
                            <input type="text" class="form-control" name="term_start" value="" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span>格式错误</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h4 class="pull-right">结束时间：</h4>
                        </div>
                        <div class="col-sm-4 input-group date">
                            <input type="text" class="form-control" name="term_end" value="" readonly>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span>格式错误</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-submit="form" data-target="#addTermForm" data-url="{:U('Term/update')}" data-loading-text="提交中..." autocomplete="off">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    $('.date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0,
        format: "yyyy-mm-dd",
        pickerPosition: "bottom-left"
    });

    $('#myModal').on('show.bs.modal', function (e) {
        // 过滤datatimepicker产生的事件
        if(e.relatedTarget === undefined) {
            return false;
        }
        var url = U("usercenter/Term/termInit");
        var name;
        var content = $(e.relatedTarget).attr("data-content");
        $.post(url, {content : content}).success(function(data){
            if (data.status) {
                var initData = data.data;
                var form = $("#addTermForm");
                var inputs = $("input", form);
                inputs.each(function(index, el) {
                    name = $(this).attr('name');
                    $(this).val(initData[name]);
                });
            } else {
                return e.preventDefault() // 阻止模态框的展示
            }
        });
    })

    // 新增表单提交
    $("[data-submit='form']").click(function(e) { 
        //取消默认动作，防止表单两次提交
        e.preventDefault();

        var url = $(this).attr('data-url');
        var targetForm = $(this).attr('data-target');
        var form = $(targetForm);
        var formContent = form.serialize();

        var btn = $(this);
        btn.button('loading');
        //发送到服务器
        $.post(url, formContent).success(function(data){
            btn.button('reset');
            if (data.status) {
                //todo 刷新年级列表
                showFormTip(form);
                $('#myModal').modal('hide');
            } else {
                showFormTip(form, data.error_info);
            }
        });
    });
});

function showFormTip(form, data) {
    var row, tip, tipContent;
    data = data || []; // 给定默认值为空数组
    $("input", form).each(function(index){
        row = $(this).parentsUntil("form").filter(".row");
        tip = row.find(".help-block");
        tipContent = tip.find("span").next();

        if (data[index]) {
            row.addClass("has-error");
            tipContent.html(data[index]);
            tip.removeClass("hidden").addClass("show");
        } else {
            row.removeClass("has-error");
            tipContent.html();
            tip.removeClass("show").addClass("hidden");
        }
    });
}
</script>