<extend name="Base/common"/>

<block name="content">
    <table class="table table-striped">
        <caption></caption>
        <thead>
            <tr>
                <th></th>
                <th>关键词</th>
                <th>回复</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <foreach name='custom_reply_text' item='v'>
                <tr>
                    <td>{$v.id}</td>
                    <td>{$v.keyword}</td>
                    <td>{$v.content}</td>
                    <td>
                        <a class="btn btn-primary" role="button" href="{:U('edit',array('id' =>
                            $v['id'])),''}">
                            <span class="glyphicon glyphicon-edit"></span>
                            编辑
                        </a>
                        <a class="btn btn-danger" role="button" href="{:U('delete',array('id' =>
                            $v['id'])),''}">
                            <span class="glyphicon glyphicon-trash"></span>
                            删除
                        </a>
                    </td>
                </tr>
            </foreach>
        </tbody>
    </table>
    <a class="btn btn-success" role="button" href="{:U('add')}">
        <span class="glyphicon glyphicon-plus"></span>
        添加关键词
    </a>
</block>

<block name="script">
<script>
$(function(){
    $('#sidebar-keywords').addClass('active');
});
</script>
</block>