<extend name="Base/common"/>

<block name="header">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-1 ell-slide-left">
                    <h3 class="ell-title">快乐学习大家庭</h3>
                    <p>快来加入我们吧！</p>
                </div>
                <div class="col-md-7 ell-slide-right">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="__IMG__/elanglang/school1.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                            <div class="item">
                                <img src="__IMG__/elanglang/school2.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                            <div class="item">
                                <img src="__IMG__/elanglang/school3.jpg" alt="...">
                                <div class="carousel-caption">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="side"></block>

<block name="content">
    {:W('Article/description', array(1))}
    {:W('Article/description', array(2))}    
    {:W('Article/description', array(3))}
    {:W('Article/description', array(4))}
    {:W('Article/description', array(5))}    
    {:W('Article/description', array(6))}
</block>