<div class="modal fade" id="classModal" data-url="{:U('getGradeClassNumber')}" tabindex="-1" role="dialog" aria-labelledby="classModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="classModalLabel">年级班级设置</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="classModalForm" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">年级</label>
                        <div class="col-sm-4">
                            <p class="form-control-static" data-id="gradeTitle"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">班级数量</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-form-btn="dec" data-target="#setClasses" type="button">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" id="setClasses" class="form-control" name="class_count" value="4">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" data-form-btn="inc" data-target="#setClasses" type="button">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="help-block hidden">
                                <span class="glyphicon glyphicon-remove"></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-submit="modal" data-target="#classModalForm" data-url="{:U('editGradeClass')}" data-loading-text="提交中..." autocomplete="off">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){

    initModalEvent('#classModal', initModal);

    function initModal($modal, data) {
        $("[data-id='gradeTitle']", $modal).html(data.gradeTitle);

        for (var i in data) {
            $("[name=" + i + "]", $modal).val(data[i]);
        }
    }

    // 表单合法性校验 
    // 班级数量合法性校验
    $("#setClass").change(function() {
        var formId = $(this).attr("form");
        var form = $("#"+formId);
        var classes = $(this).val();
        if (isInt(classes) && (0 < parseInt(classes))) {
            showFormTip(form);
        } else { // 格式错误
            showFormTip(form,['','','请输入正确的数字，如1,2']);
        }
    });

    $("[data-form-btn]").click(function() {
        var op = $(this).attr("data-form-btn");
        var targetInput = $(this).attr("data-target");
        var input = $(targetInput);
        var method = op == "dec" ? -1 : 1;

        var value = parseInt(input.val());
        value = isNaN(value) ? parseInt(input.attr("value")) : value;
        input.val(value + method);
    });
});

</script>