<extend name="Public/base"/>

<block name="header">
    <include file="Grade/subjectmodal"/>
    <include file="Grade/classmodal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>年级信息设置
        </h2>
    </div>

    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active" role="presentation">
                <a href="#subjectContent" aria-controls="subjectContent" role="tab" data-toggle="tab">科 目</a>
            </li>
            <li role="presentation">
                <a href="#classContent" aria-controls="classContent" role="tab" data-toggle="tab">班 级</a>
            </li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="subjectContent">
                <!-- 数据表格 -->
                <div class="data-table">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th>年级</th>
                                <th>科目</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach name='static_grade_info_list' item='vo'>
                            <tr>
                                <td>{$vo.grade_name}</td>
                                <td>
                                    <foreach name="vo['subject_info']" item='subject'>
                                    <span class="label label-primary" title="编号 {$subject.subject_number}">{$subject.subject_name}</span>
                                    </foreach>
                                </td>
                                <td>
                                    <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#subjectModal" data-get-param="id={$vo.id}">编 辑</button>
                                </td>
                            </tr>
                            </foreach>
                        </tbody>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="classContent">
                <!-- 数据表格 -->
                <div class="data-table">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th>年级</th>
                                <th>班级数量</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <foreach name="class_tree" item="vo" key="k">
                            <tr>
                                <td>{$vo.name}</td>
                                <td>{$vo._|count}</td>
                                <td>
                                    <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#classModal" data-get-param="id={$vo.id}">编 辑</button>
                                </td>
                            </tr>
                            </foreach>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</block>