<extend name="Public/base"/>

<block name="header">
    <include file="Subject/gradesubjectmodal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置 [学科设置 年级学科设置]
        </h2>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>年级</th>
                    <th>科目编号及名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            
            <foreach  name='static_grade_info_list' item='vo'>
           	<tbody>
                <tr>
                    <td>{$vo.grade_name}</td>
                    <td>
                    	<foreach name="vo['subject_info']" item='subject'>
                        <span class="label label-primary">{$subject.subject_number} {$subject.subject_name}</span>                    	
                    	</foreach>
                        
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" data-content={$vo.id}>编 辑</button>
                    </td>
                </tr>
              
            </tbody>
            </foreach>
        </table>
    </div>
</block>