<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置 [科目设置]
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-get-param="id=0">新 增</button>
                <button class="btn btn-success ajax-post" data-target="[data-check='ids']" data-confirm="确认要删除吗?" data-url="">删 除</button>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th class="row-selected"><input type="checkbox" data-toggle="checkall" data-target="ids"/></th>
                    <th>科目编号</th>
                    <th>科目名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="subject_lists" item="vo">
                <tr>
                    <td><input type="checkbox" data-check="ids" name="ids[]" value="{$vo.id}"></td>
                    <td>{$vo.subject_number}</td>
                    <td>{$vo.subject_name}</td>
                    <td>
                        <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-get-param="id={$vo.teacher_id}">编 辑</button>
                        <a class="btn btn-danger btn-xs" href="">删 除</a>
                    </td>
                </tr>
                </foreach>
            </tbody>
        </table>
    </div>
</block>