<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置 [科目设置]
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-get-param="id=0">新 增</button>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="row">
        <div class="col-lg-6 data-table">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>科目编号</th>
                        <th>科目名称</th>
                        <th class="operator-xs-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="subject_lists" item="vo">
                    <tr>
                        <td>{$vo.subject_number}</td>
                        <td>{$vo.subject_name}</td>
                        <td>
                            <button class="btn btn-success btn-xs operator" data-toggle="modal" data-target="#myModal" data-get-param="id={$vo.id}">编 辑</button>
                            <button type="button" class="btn btn-danger btn-xs operator btn-sm ajax-get" data-confirm="确认要执行吗?" data-loading-text="执行中..." data-url="{:U('delete','id='.$vo[id])}" autocomplete="off">删除</button>
                        </td>
                    </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
    </div>
</block>