<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题栏 -->
    <div class="ell-main-title">
        <h2>权限管理</h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal" data-get-param="id=0">新 增</button>
            </div>
        </div>
    </div>

    <!-- 数据列表 -->
    <div class="data-table">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>用户组</th>
                    <th>描述</th>
                    <th>授权</th>
                    <th>状态</th>
                    <th class="operator-xs-5"></th>
                </tr>
            </thead>
            <tbody>
                <notempty name="_list">
                <volist name="_list" id="vo">
                <tr>
                    <td>{$vo.title}</td>
                    <td>
                        <span>{:mb_strimwidth($vo['description'],0,60,"...","utf-8")}</span>
                    </td>
                    <td>
                        <a href="{:U('AuthManager/access?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >访问授权</a>
                        <a href="{:U('AuthManager/user?group_name='.$vo['title'].'&group_id='.$vo['id'])}" >成员授权</a>
                    </td>
                    <td>{$vo.status_text}</td>
                    <td>
                        <eq name="vo.status" value="1">
                        <button type="button" class="btn btn-success btn-xs operator ajax-get" data-loading-text="禁用中..." data-url="{:U('AuthManager/changeStatus?method=forbidGroup&id='.$vo['id'])}">禁 用</button>
                        <else/>
                        <button type="button" class="btn btn-success btn-xs operator ajax-get" data-loading-text="启用中..." data-url="{:U('AuthManager/changeStatus?method=resumeGroup&id='.$vo['id'])}">启 用</button>
                        </eq>
                        <button type="button" class="btn btn-success btn-xs operator" data-toggle="modal" data-target="#myModal" data-get-param="id={$vo.id}">编 辑</button>
                        <button type="button" class="btn btn-danger btn-xs operator ajax-get" data-confirm="确认要删除吗?" data-loading-text="删除中..." data-url="{:U('AuthManager/changeStatus?method=deleteGroup'.$vo['id'])}" >删 除</button>
                    </td>
                </tr>
                </volist>
                <else/>
                <td class="text-center" colspan="5"> aOh! 暂时还没有内容! </td>
                </notempty>
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
