<div class="modal fade" id="myModal" data-url="{:U('tuser/authInit')}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span></span>用户组</h4>
            </div>
            <div class="modal-body">
                <form id="editUserGroupForm" role="form">
                    <div class="row">
                        <div class="form-group col-sm-10 col-sm-offset-1 has-feedback">
                            <label for="authTitle">用户组</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="authTitle" name="title" value="{$auth_group.title}">
                                    <span class="form-control-feedback"></span>
                                </div>
                                <div class="col-sm-6 help-block hidden"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-10 col-sm-offset-1">
                            <label for="authDescription">描述</label>
                            <textarea class="form-control" id="authDescription" name="description" value="">{$auth_group.description}
                            </textarea>
                        </div>
                    </div>
                    <input type="hidden" name="id" value="{$auth_group.id}"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-submit="modal" data-target="#editUserGroupForm" data-url="{:U('AuthManager/writeGroup')}" data-loading-text="提交中..." autocomplete="off">确 定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){

    initModalEvent('#myModal', initModal, null);

    function initModal($modal, data, isClear) {
        if (isClear) {
            $("span", "#myModalLabel").html("");
            $("#authTitle", $modal).val("");
            $("#authDescription", $modal).val("");
            return true;
        }

        $("span", "#myModalLabel").html(data.title===""?"新增":"编辑");
        $('#authTitle').val(data.title);
        $('#authDescription').val(data.description);
    }
});
</script>