<!-- 成员授权编辑页面 -->
<extend name="Public/base" />

<block name="header">
    <include file="membermodal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题栏 -->
    <div class="ell-main-title">
        <h2>权限管理</h2>
    </div>

    <div class="tab-wrap">
        <div class="row">
            <div class="col-md-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li><a href="{:U('AuthManager/access',array('group_name'=>I('group_name') ,'group_id'=> I('group_id')))}">访问授权</a></li>
                    <li><a href="{:U('AuthManager/category',array('group_name'=>I('group_name') ,'group_id'=> I('group_id')))}">分类授权</a></li>
                    <li class="active"><a href="javascript:;">成员授权</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <select class="form-control" name="group">
                    <volist name="auth_group" id="vo">
                    <option value="{:U('AuthManager/user',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}" <eq name="vo['id']" value="$this_group['id']">selected</eq>>
                        {$vo.title}
                    </option>
                    </volist>
                </select>
            </div>
        </div>

        <!-- 按钮工具栏 -->
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" data-get-param="class=13&role=teacher&subject_id=2&teacher_id=">添加成员</button>
                    <button type="button" class="btn btn-success ajax-post" data-target="[data-check='ids']" data-confirm="确认要删除吗?" data-url="">删除成员</button>
                </div>
            </div>
        </div>

        <!-- 数据列表 -->
        <div class="data-table">
            <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th class="">UID</th>
                    <th class="">昵称</th>
                    <th class="">最后登录时间</th>
                    <th class="">最后登录IP</th>
                    <th class="">状态</th>
                    <th class="">操作</th>
                </tr>
            </thead>
            <tbody>
                <volist name="_list" id="vo">
                <tr>
                    <td>{$vo.id} </td>
                    <td>{$vo.username}</td>
                    <td><span>{$vo.last_login_time|time_format}</span></td>
                    <td><span>{$vo.last_login_ip|long2ip}</span></td>
                    <td>{$vo.status_text}</td>
                    <td><a href="{:U('AuthManager/removeFromGroup?uid='.$vo['uid'].'&group_id='.I('group_id'))}" class="ajax-get">解除授权</a>
                    </td>
                </tr>
                </volist>
            </tbody>
            </table>
        </div>
        <div class="main-title">
            <div class="page_nav pull-left">
                {$_page}
            </div>
        </div>
</block>

<block name="script">
<script type="text/javascript" charset="utf-8">
    $('select[name=group]').change(function(){
        location.href = this.value;
    });
</script>
</block>
