<extend name="Public/base"/>

<block name="header"></block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="NewTerm/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2><span class="label label-info">新学期</span> 数据管理 [2014-2015学年 下学期]
        </h2>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>设置列表</th>
                    <th>状态</th>
                    <th>负责人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="danger">
                    <td>学期设置</td>
                    <td>未设置</td>
                    <td>XX</td>
                    <td>
                        <a href="{:U('tuser/setNewTerm')}">设置</a>
                    </td>
                </tr>
                <tr class="danger">
                    <td>年级班级设置</td>
                    <td>未设置</td>
                    <td>XX</td>
                    <td>
                        <a href="{:U('tuser/setNewGradeClass')}">设置</a>
                    </td>
                </tr>
                <tr class="success">
                    <td>班级信息设置</td>
                    <td>已设置</td>
                    <td>XX</td>
                    <td>
                        <a href="">设置</a>
                    </td>
                </tr>
                <tr class="danger">
                    <td>学生信息设置</td>
                    <td>未设置</td>
                    <td>XX</td>
                    <td>
                        <a href="">设置</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script>
    var data = ["语文","吴彦祖","梁文豪","01111","20000","15545","164646"];
    $("[name='subject_1']").typeahead({
        source:data,
        items:'all',
        showHintOnFocus:true,
        minLength:0,
    });

    </script>
</block>
