<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" href="__PUBLIC__/favicon.ico">
<title>{:C('WEB_SITE_TITLE')}</title>

<link href="__BS__/css/bootstrap.css" rel="stylesheet">
<link href="__STATIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link href="__STATIC__/common/css/common.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="__CSS__/teacher.min.css" rel="stylesheet">
<block name="style"></block>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="__BS__/js/html5shiv.min.js"></script>
<script src="__BS__/js/respond.min.js"></script>
<![endif]-->
<script src="__STATIC__/jquery.min.js"></script>
<script src="__BS__/js/bootstrap.min.js"></script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}