    <block name="header"></block>

    <div class="container-fluid">
        <div class="row ell-homework-container">
            <div class="col-sm-12 col-md-8 col-md-offset-2">
                <!-- 内容 ================================================== -->
                <div class="ell-main-content">
                    <block name="content"></block>
                </div>
            </div>
        </div>
    </div>
    <!--  页脚，版权信息   ================================================== -->
    <footer class="ell-homework-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        本站由 <strong><a href="#">e朗朗</a></strong> 强力驱动
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--  /页脚，版权信息   ================================================= -->