body {
  padding-top: 50px;
}
.ell-main-container,
.ell-main-container > .row,
.ell-content,
.ell-main-content {
  height: 100%;
}
.ell-navbar .navbar-brand {
  color: #fff;
}
.ell-navbar .navbar-nav > li > a {
  color: #ccc;
}
.ell-navbar .navbar-nav > .active > a,
.ell-navbar .navbar-nav > .active > a:hover,
.ell-navbar .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.ell-sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 192px;
  padding: 20px 0;
  overflow: auto;
  background-color: #3d3d3d;
}
.ell-sidebar .nav {
  background-color: #3d3d3d;
}
.ell-sidebar .nav > li {
  padding: 0;
  margin: 0;
  border: 0;
}
.ell-sidebar .nav > li > a {
  color: #fff;
  border-top: 1px solid #5c5c5c;
}
.ell-sidebar .nav > li > a:hover,
.ell-sidebar .nav > li > a:focus {
  background: #282424;
}
.ell-sidebar .nav > li div > .sub-menu {
  margin: 8px 0;
}
.ell-sidebar .nav a > i {
  margin-right: 8px;
}
.ell-sidebar .nav .sub-menu {
  padding: 0;
  clear: both;
  list-style: none;
}
.ell-sidebar .nav .sub-menu > li {
  padding: 0;
  margin: 0;
  margin-top: 1px;
  background: none;
}
.ell-sidebar .nav .sub-menu > li > a {
  display: block;
  padding: 5px 15px;
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  color: #bdbdbd;
  text-decoration: none;
  background: none;
}
.ell-sidebar .nav .sub-menu > li > a:hover,
.ell-sidebar .nav .sub-menu > li > a:focus {
  color: #fff;
  background: #575757;
}
.ell-sidebar .nav .sub-menu > li.active > a,
.ell-sidebar .nav .sub-menu > li.active > a:hover,
.ell-sidebar .nav .sub-menu > li.active > a:focus {
  color: #fff;
  background: #575757;
}
.ell-sidebar .nav div > .sub-menu a {
  padding-left: 40px;
}
.ell-sidebar .nav div > .sub-menu > li > .sub-menu a {
  padding-left: 60px;
}
.ell-sidebar .nav div > .sub-menu > li > .sub-menu > li > .sub-menu a {
  padding-left: 80px;
}
.ell-sidebar .nav > .ell-sidebar-title {
  font-weight: bold;
  color: #fff;
  cursor: default;
  background-color: #444;
  border: 1px solid #444;
}
.ell-sidebar .nav > .list-group-item > a,
.ell-sidebar .nav > .list-group-item > a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.nav-blocks > li > a {
  border-radius: 0;
}
.nav-blocks > li.active > a,
.nav-blocks > li.active > a:hover,
.nav-blocks > li.active > a:focus {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #428bca;
}
a.ell-sidebar-title,
a.ell-sidebar-title:hover,
a.ell-sidebar-title:focus {
  font-weight: bold;
  color: #fff;
  cursor: default;
  background-color: #444;
  border: 1px solid #444;
}
.ell-sidebar-tree .list-group-item {
  margin-right: -1px;
  margin-left: -1px;
  border-top: none;
  border-bottom: none;
  border-radius: 0;
}
.ell-alert {
  position: absolute;
  right: 15px;
  left: 15px;
}
.ell-alert .alert {
  display: none;
}
.ell-main-title {
  padding-bottom: 10px;
}
.ell-main-title:before,
.ell-main-title:after {
  display: table;
  content: "";
}
.ell-main-title:after {
  clear: both;
}
.ell-main-title > h2 {
  float: left;
  font-weight: 400;
}
.ell-tab-wrap > ul {
  margin-bottom: 10px;
}
.ell-homework-main {
  margin: 20px 0;
  background: white;
}
.ell-homework-main .row {
  margin-bottom: 10px;
}
.ell-homework-main textarea {
  margin-bottom: 10px;
}
.ell-homework-main textarea::-webkit-input-placeholder:after {
  display: block;
  content: "1、XXXX。\A 2、XXXX。";
  /*  \A 表示换行  */
}
.ell-homework-main textarea::-moz-placeholder:after {
  content: "1、XXXX。\A 2、XXXX。";
  /*  \A 表示换行  */
}
.data-chart {
  margin: 50px 0;
}
.data-chart .chart-toolbox {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-color: #1b809e;
  border-left-width: 5px;
  border-radius: 3px;
}
.data-chart .chart-toolbox h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: 700;
  color: #1b809e;
}
.ell-homework-footer {
  text-align: center;
}
.text-inverse {
  color: #fff;
}
