@import "../../bootstrap3/less/variables.less";
//@import "../../bootstrap3/less/mixins.less";
@import "common-variables.less";

body {
  padding-top: 50px;
}

// 使内容区占满整个屏幕，让页脚始终在页面底部
.ell-main-container,
.ell-main-container > .row,
.ell-content,
.ell-main-content {
  height: 100%;
}

.ell-navbar {

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav {
    > li > a {
      color: #ccc;
    }

    > .active > a {
      &,
      &:hover,
      &:focus {
        color: #fff;
        background-color: #428bca;
      }
    }
  }
}


.ell-sidebar {
  position: fixed;
  top:50px;
  bottom: 0;
  left: 0;
  width: 192px;
  padding: 20px 0;
  overflow:auto;
  background-color: #3d3d3d;
}

.ell-sidebar .nav{
  background-color: #3d3d3d;

  // 第一级列表
  > li {
    padding: 0;
    margin: 0;
    border: 0;

    > a {
      color: #ffffff;
      border-top: 1px solid #5c5c5c;
      &:hover,
      &:focus {
        background: #282424;
      }
    }

    // 第一级子菜单
    div > .sub-menu {
      margin: 8px 0;
    }
  }

  a > i {
    margin-right: 8px;
  }

  // 所有子菜单
  .sub-menu {
    padding: 0;
    clear: both;
    list-style: none;

    > li {
      padding: 0;
      margin: 0;
      margin-top: 1px;
      background: none;

      > a {
        display: block; 
        padding: 5px 15px;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        color: #bdbdbd;
        text-decoration: none;
        background: none;
        &:hover,
        &:focus {
          color: #fff;
          background: #575757;
        }
      }

      &.active > a {
        &,
        &:hover,
        &:focus {
          color: #fff;
          background: #575757;
        }
      }
    }
  }

  // 第一级子菜单
  div > .sub-menu a {
    padding-left: 40px;
  }

  // 第二级子菜单
  div > .sub-menu > li > .sub-menu a {
    padding-left: 60px;
  }

  // 第三级子菜单
  div > .sub-menu > li > .sub-menu > li > .sub-menu a {
    padding-left: 80px;
  }

  // 下面为临时
  > .ell-sidebar-title {
    font-weight: bold;
    color: #fff;
    cursor:default;
    background-color: #444;
    border: 1px solid #444;
  }

  > .list-group-item {
    > a,
    > a:hover {
      color: #000;
      text-decoration:none;
      cursor: pointer;
    }
  }
}

// Blocks
// -------------------------
.nav-blocks {
  > li {

    // Links rendered as blocks
    > a {
      border-radius: 0;
    }

    // Active state
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @nav-blocks-active-link-hover-color;
        background-color: @nav-blocks-active-link-hover-bg;
        border: 1px solid @nav-blocks-active-link-hover-border-color;
      }
    }
  }
}

a.ell-sidebar-title,
a.ell-sidebar-title:hover,
a.ell-sidebar-title:focus {
  font-weight: bold;
  color: #fff;
  cursor:default;
  background-color: #444;
  border: 1px solid #444;
}
.ell-sidebar-tree {

  .list-group-item {
    margin-right: -1px;
    margin-left: -1px;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
  }
}

.ell-alert {
  position:absolute;
  right: 15px;
  left: 15px;

  .alert {
    display: none;
  }
}

.ell-main-title {
  padding-bottom: 10px;
}
.ell-main-title:before,
.ell-main-title:after {
  display: table;
  content: "";
}
.ell-main-title:after {
  clear: both;
}
.ell-main-title > h2 {
  float: left;
  font-weight: 400;
    > .label {
      font-size: 100%;
    }
}

.ell-tab-wrap > ul {
  margin-bottom: 10px;
}

.ell-homework-main {
  margin: 20px 0;
  background: white; 
  .row {
    margin-bottom: 10px;
  }

  textarea {
    margin-bottom: 10px;

    &::-webkit-input-placeholder:after {
      display:block;
      content:"1、XXXX。\A 2、XXXX。";/*  \A 表示换行  */
      
    }
    &::-moz-placeholder:after {
      content:"1、XXXX。\A 2、XXXX。";/*  \A 表示换行  */
     
    }
  }
}

.data-chart {
  margin: 50px 0;

  .chart-toolbox {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 3px;
    border-left-width: 5px;
    border-left-color: #1b809e;

    h4 {
      margin-top: 0;
      margin-bottom: 5px;
      color: #1b809e;
      font-weight: 700;
    }
  }
}

.ell-homework-footer {
  text-align: center;
}

.text-inverse {
  color: #fff;
}

.form-horizontal .has-feedback .form-control-feedback.has-addon {
  right: 15px + 38px; 
}

//////////////////////////  工具类  ///////////////////////////////
.typeahead .dropdown-menu {
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}