body {
  background-color: #f5f5f5;
}

.section {
  margin: 20px -15px;
  background-color: #fff;
  border-top: 1px solid #EBEBEB;
}

.section .title {
  padding: 20px 15px;
  font-size: 20px;
  line-height: 20px;
  color: #333;
  font-weight: bold;
}

.section .content {
  padding: 20px 15px;
  font-size: 16px;
  line-height: 20px;
  color: #333;
}