<extend name="Public/base"/>

<block name="header">
    <include file="tuser/modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>学生信息管理 [{$calss_name}]
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal">新 增</button>
                <button class="btn btn-success ajax-post" data-target="[data-check='ids']" data-confirm="确认要删除吗?" data-url="">删 除</button>
                <a class="btn btn-success" href="{:U('Tuser/studentedit')}">批量编辑</a>
            </div>
        </div>
        <div class="sleft">
				<input type="text" name="nickname" class="search-input" value="{:I('nickname')}" placeholder="请输入学生昵称或者ID">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('index')}"><i class="btn-search"></i></a>
		</div>
    </div>
    

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th class="row-selected"><input type="checkbox" data-toggle="checkall" data-target="ids"/></th>
                    <th>用户名</th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>班级</th>
                    <th>手机</th>
                </tr>
            </thead>
            <tbody>
           	 <foreach name="student_lists" item="vo">
                <tr>
                    <td><input type="checkbox" data-check="ids" name="ids[]" value="{$vo.id}"></td>
                    <td>{$vo.username}</td>
                    <td>{$vo.student_id}</td>
                    <td>{$vo.true_name}</td>
                    <td>{$vo.sex}</td>
                    <td>{$vo.class_name}</td>
                    <td>{$vo.mobile}</td>
                </tr>
              </foreach>
              
            </tbody>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>
