<extend name="Public/base"/>

<block name="header">
    <!-- 新增年级Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新增科目</h4>
                </div>
                <div class="modal-body">
                    <form id="addSubjectForm" role="form">
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="pull-right">科目编号：</h4>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="number" value="">
                            </div>
                            <div class="col-sm-5">
                                <div class="help-block hidden">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span>格式错误</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <h4 class="pull-right">科目名称：</h4>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="subject" value="">
                            </div>
                            <div class="col-sm-5">
                                <div class="help-block hidden">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    <span>格式错误</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="addSubjectBtn" data-loading-text="提交中..." data-url="{:U('Tuser/addSubject')}" form="addSubjectForm" autocomplete="off">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</block>
<!-- 子导航 -->
<block name="sidebar">
    <include file="sidemenu" />
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>基础信息设置({$_total}) [学科设置
        <volist name="rightNav" id="nav">
        <a href="{:U('article/index','cate_id='.$nav['id'])}">{$nav.title}</a>
            <if condition="count($rightNav) gt $i"><i class="ca"></i></if>
        </volist>
        <present name="article">：<a href="{:U('article/index','cate_id='.$cate_id.'&pid='.$article['id'])}">{$article.title}</a></present>
        ]
        </h2>
    </div>

    <!-- 按钮工具栏 -->
    <div class="row">
        <div class="col-md-6">
            <div class="pull-left">
                <button class="btn btn-success init" data-toggle="modal" data-target="#myModal">新 增</button>
                <button class="btn btn-success" data-target-form="table" data-url="{:U('Tuser/saveSubject')}" data-edit="edit">保 存</button>
                <button class="btn btn-success ajax-post confirm" data-edit="edit" target-form="ids" url="{:U("Article/setStatus",array("status"=>-1))}">删 除</button>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="row-selected" data-edit="edit"><input class="check-all" type="checkbox"/></th>
                    <th>科目编号</th>
                    <th>科目名称</th>
                </tr>
            </thead>
            <tbody  id="content">
                <tr>
                    <td data-edit="edit"><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                    <td><input type="text" name="number_1" data-form="table" value="0001">
                    </td>
                    <td><input type="text" name="subject_1" data-form="table" value="语文"></td>
                </tr>
                <tr>
                    <td data-edit="edit"><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
                    <td>
                        <input type="text" name="number_2" data-form="table" value="0002">
                    </td>
                    <td><input type="text" name="subject_2" data-form="table" value="数学"></td>
                </tr>
            </tbody>
        </table>
    </div>
</block>

<block name="script">
    <script>

    $(function(){

        // $("[data-tool-btn=edit]").click(function() {
        //     var editId = $(this).attr("id");
        //     var edits = $("[data-edit=" + editId + "]");

        //     if ($(this).hasClass("active")) {
        //         edits.addClass("hidden");
        //     } else {
        //         edits.removeClass("hidden");
        //     }
        // });

        $("[data-table-btn]").click(function() {
            var op = $(this).attr("data-table-btn");
            var gradeId = $(this).attr("data-grade-id");
            var url = U("Usercenter/User/baseSetting");
            var method = op == "dec" ? -1 : 1;
            $.post(url, {grade: gradeId, status: method}, function (data) {
                handleAjax(data);
                if (data.status) {
                    updateClasses(data.grade, data.classes);
                }
            })
        });

        // 新增科目Modal

        // 初始化Modal
        $(".init").click(function() {
            // var gradeInfo = $("[data-grade]").last();
            // if(gradeInfo.length == 1){ //找到年级列表最后一行
            //     var classesInfo = gradeInfo.next().next();
            //     var grade = parseInt(gradeInfo.attr("data-grade"));
            //     var classes = parseInt(classesInfo.attr("data-classes"));

            //     $("input[name=grade]").attr("value", grade + 1);
            //     $("input[name=classes]").attr("value", classes);
            // }
        });


        $("[data-form-btn]").click(function() {
            var op = $(this).attr("data-form-btn");
            var inputName = $(this).attr("data-input");
            var input = $("input[name=" + inputName + "]");
            var method = op == "dec" ? -1 : 1;

            var value = parseInt(input.val());
            value = isNaN(value) ? parseInt(input.attr("value")) : value;
            input.val(value + method);
        });

        // 新增科目表单提交
        $("#addSubjectBtn").click(function(e) {
            //取消默认动作，防止表单两次提交
            e.preventDefault();

            var url = $(this).attr('data-url');
            var formId = $(this).attr('form');
            var formContent = $("#"+formId).serialize();
            var btn = $(this);
            btn.button('loading');
            //发送到服务器
            $.post(url, formContent).success(function(data){
                btn.button('reset');
                if (data.status) {
                    //todo 刷新年级列表
                    showFormTip();
                    $('#myModal').modal('hide');
                } else {
                    showFormTip(data.error_info);
                }
            });
        });
    });

    function showFormTip(data) {
        var form = $("#addSubjectForm");
        var row, tip, tipContent;
        data = data || []; // 给定默认值为空数组
        $("input", form).each(function(index){
            row = $(this).parentsUntil("form").filter(".row");
            tip = row.find(".help-block");
            tipContent = tip.find("span").next();

            if (data[index]) {
                row.addClass("has-error");
                tipContent.html(data[index]);
                tip.removeClass("hidden").addClass("show");
            } else {
                row.removeClass("has-error");
                tipContent.html();
                tip.removeClass("show").addClass("hidden");
            }
        });
    }

    function updateClasses(grade, classes) {
        var gradeInfo = $("[data-grade=" + grade + "]");
        var classesInfo = gradeInfo.next().next();
        classesInfo.attr("data-classes", classes);
        var html = "";
        for(i=1;i<=classes;i++){
            html += "<span class='label label-primary'>" + i +" 班</span> ";
        }
        classesInfo.html(html);
    }
    </script>
</block>
