<block name="nav">
    <!-- 导航条================================================== -->  
    <nav class="navbar navbar-inverse ell-navbar" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#ell-navbar-collapse">
                    <span class="sr-only">展开导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{:U('Index/index')}" >e朗朗</a>
            </div>
            <div class="collapse navbar-collapse" id="ell-navbar-collapse">
                <ul class="nav navbar-nav">
                    <volist name="__MENU__.main" id="menu">
                        <li class="<eq name='menu.class' value='current'>active</eq>"><a href="{$menu.url|U}">{$menu.title}</a></li>
                    </volist>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            李芳敏
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">个人中心</a>
                            </li>
                            <li>
                                <a href="{:U('User/profile')}">修改密码</a>
                            </li>
                            <li>
                                <a href="{:U('User/logout')}">退出</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</block>    