    <block name="header"></block>

    <div class="container">
        <div class="row">
            <div class="col-md-2" id="sideBar">
                <block name="sidebar">
                    <!-- 左侧 nav ================================================== -->    
                    <div class="list-group">
                        <a class="list-group-item <eq name='Think.CONTROLLER_NAME' value='Index'>active</eq>" href="{:U('Index/index')}" >工具箱配置</a>
                        <a class="list-group-item <eq name='Think.CONTROLLER_NAME' value='Rmbom'>active</eq>" href="{:U('Rmbom/index')}" >去除BOM头</a>
                        <a class="list-group-item <eq name='Think.CONTROLLER_NAME' value='Sql'>active</eq>" href="{:U('Sql/index')}" >SQL管理</a>
                        <a class="list-group-item <eq name='Think.CONTROLLER_NAME' value='Log'>active</eq>" href="{:U('Log/index')}" >日志管理</a>
                    </div>
                </block>
            </div>
            <div class="col-md-10" id="mainContent" role="main">
                <!-- 内容 ================================================== -->    
                <block name="content"></block>
            </div>
        </div>
    </div>