    <block name="header"></block>

    <div class="container bs-docs-container">
        <div class="row">
            <block name="side">
                <!-- 左侧 nav ================================================== -->    
                <div class="col-md-3">
                <div class="list-group">
                    <a class="list-group-item" id="sidebar-rmbom" href="{:U('Rmbom/index')}" >去除BOM头</a>
                    <a class="list-group-item" id="sidebar-elog" href="{:U('Log/index')}" >日志管理</a>
                </div>
            </div>
        </block>
        <block name="content"></block>
    </div>
    </div>