
<extend name="Public/base"/>

<block name="header">
    <include file="modal"/>
</block>

<!-- 子导航 -->
<block name="sidebar">
    <include file="Public/sidemenu"/>
</block>

<block name="content">
    <!-- 标题 -->
    <div class="ell-main-title">
        <h2>年级成绩查询 [2013 级]
        </h2>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            动态查询
            <a class="pull-right" href="javascript:;" data-toggle="collapse" data-target="#quickMenu"> <i class="fa fa-caret-up text-inverse"></i>
            </a>
        </div>
        <div class="collapse in" id="quickMenu">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <p class="h5 text-right">查询方式</p>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-11">
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions" checked/>综合</label>
                        <label class="radio-inline">
                            <input type="radio" name="inlineRadioOptions"/>单科</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <p class="h5 text-right">一级类目</p>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-11">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-toggle="checkall" data-target="cate" checked />全选</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" data-check="cate" name="ids[]" value="s001" checked>语文</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" data-check="cate" name="ids[]" value="s002" checked>数学</label>
                       <label class="checkbox-inline">
                            <input type="checkbox" data-check="cate" name="ids[]" value="s003" checked>总分</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-2 col-lg-1">
                        <p class="h5 text-right">二级类目</p>
                    </div>
                    <div class="col-xs-8 col-sm-10 col-lg-11">
                        <label class="checkbox-inline">
                            <input type="checkbox" data-toggle="checkall" data-target="two-cate" checked/>全选</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" data-check="two-cate" name="ids[]" value="attendance" checked>参加人数</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" data-check="two-cate" name="ids[]" value="average" checked>平均分</label>
                       <label class="checkbox-inline">
                            <input type="checkbox" data-check="two-cate" name="ids[]" value="max" checked>最高分</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" data-check="two-cate" name="ids[]" value="min" checked>最低分</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 数据表格 -->
    <div class="data-table">
        <div id="hs" data-url="{:U('Usercenter/Tuser/getScoreData')}"></div>
    </div>

    <!-- 数据图表 -->
    <div class="data-chart">
        <div id="chart"  style="height:400px;"></div>
    </div>
</block>

<block name="style">
    <link href="__STATIC__/handsontable/handsontable.full.min.css" rel="stylesheet">
</block>

<block name="script">
    <script src="__STATIC__/handsontable/handsontable.full.min.js"></script>
    <script src="__STATIC__/echarts/echarts-all.js"></script>
    <script>
    $(function(){
        // 获取成绩数据
        var scoreData = getScoreData();

        // 数据表格处理
        tableHandle(scoreData);

        // 数据图表处理
        chartHandle(scoreData);
    });

    function chartHandle(scoreData) {
        //数据图表处理
        var myChart = echarts.init(document.getElementById('chart'));

        var ret = getOption(scoreData);

        // 图表使用-------------------
        var option = {
            title : {
                text: '各科平均分',
            },
            legend: {                                   // 图例配置                
                data: ret.legend.data,
            },
            tooltip: {                                  // 气泡提示配置
                trigger: 'axis',
            },
            xAxis: [
                {
                    type: 'category',
                    //data: ['语文', '数学', '英语']
                    data: ret.xAxis.data,
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    scale: true,
                    boundaryGap: [0.1, 0.1],
                }
            ],
            series: [
                {
                    name: '2009级1班',
                    type: 'line',
                    data: [88, 87, 86]
                },
                {
                    name: '2009级2班',
                    type: 'line',
                    data: [81, 81, 86.5]
                }
            ]
        };
        myChart.setOption(option);
    }

    function getOption(scoreData, pattern) {
        var order = scoreData.order;
        var orderBase    = order.base;     // 班级、人数
        var orderCate    = order.cate;     // 语文、数学
        var orderCateTwo = order.cateTwo;  // 平均分、最高分
        var ret = {};
        ret.legend = {};
        ret.xAxis = {};
        ret.legend.data = getLegend(scoreData.info);
        ret.xAxis.data  = getXAxis(orderCate, scoreData.title);

        return ret;
    }

    function getLegend(info) {
        var i;
        var ret = Array();
        for (i in info) {
            ret.push(info[i].name);
        }
        return ret;
    }

    function getXAxis(orderCate, title) {
        var cate = title.subject.cate;   
        var i;
        var ret = Array();

        for (i = 0; i < orderCate.length; i++) {
            ret.push(cate[orderCate[i]]); // 一级类目
        }

        return ret; 
    }

    function tableHandle(scoreData) {
        var container = document.getElementById('hs');
        var pattern = {};
        pattern.cate    = setPattern("cate", "all");
        pattern.cateTwo = setPattern("two-cate", "all");

        var hs = creatTable(container, scoreData, pattern);

        // 一级类目-全选
        $("[data-target='cate']").click(function(event) {
            hs = updateTable(container, scoreData, pattern, hs, "cate");
        });
        // 一级类目-单选
        $("[data-check='cate']").click(function(event) {
            hs = updateTable(container, scoreData, pattern, hs, "cate");
        });

        // 二级类目-全选
        $("[data-target='two-cate']").click(function(event) {
            hs = updateTable(container, scoreData, pattern, hs, "two-cate");
        });
        // 二级类目-单选
        $("[data-check='two-cate']").click(function(event) {
            hs = updateTable(container, scoreData, pattern, hs, "two-cate");
        });
    }
    
    function getScoreData() {
        var url = $("#hs").attr("data-url");
        var scoreData;

        // 设置为同步，等待获取完数据再进行其他的步骤
        $.ajaxSetup({
            async : false
        });

        $.post(url).success(function(data){
            scoreData = data.data;
        });

        // 恢复为异步
        $.ajaxSetup({
            async: true
        });

        return scoreData;
    }

    function updateTable(container, scoreData, pattern, oldHs, type) {
        if (type === "cate") {
            pattern.cate = setPattern(type);
        } else if (type === "two-cate") {
            pattern.cateTwo = setPattern(type);
        }
        
        oldHs.destroy();
        return creatTable(container, scoreData, pattern);
    }

    function setPattern(type) {
        var ret = Array();
        var obj;

        if (type === "cate") {
            obj = $("[data-check='cate']");
        } else if (type === "two-cate") {
            obj = $("[data-check='two-cate']");
        }

        obj.each(function(index, el) {
            if (this.checked) {
                ret.push($(this).val());
            }
        });

        return ret;
    }

    function creatTable(container, scoreData, pattern) {
        var ret = getSettings(scoreData, pattern);
        var settings = {
            data : ret.data,
            startRows: 0,
            stretchH: 'all',
            fillHandle: false,
            cells: function (row, col, prop) {
                var cellProperties = {};
                cellProperties.readOnly = true;
                if (row === 0 || row === 1) {
                    cellProperties.renderer = firstRowRenderer;
                }
                return cellProperties;
            },
            mergeCells: ret.mergeCells,
        };
        var hs = new Handsontable(container, settings);
        return hs;
    }

    function getSettings(scoreData, pattern) {
        var order = scoreData.order;
        var orderBase    = order.base;     // 班级、人数
        var orderCate    = order.cate;     // 语文、数学
        var orderCateTwo = order.cateTwo;  // 平均分、最高分
        var ret = {};

        // 加载标题
        var retTitle = setTitle(orderBase, orderCate, orderCateTwo, scoreData.title, pattern);
        ret.mergeCells = retTitle.mergeCells;
        ret.data = Array();
        ret.data.push(retTitle.firstRow);
        ret.data.push(retTitle.secondRow);

        // 加载信息
        var retInfo = setInfo(orderBase, orderCate, orderCateTwo, scoreData.info, pattern);
        ret.data = ret.data.concat(retInfo);

        return ret;
    }

    function setTitle(orderBase, orderCate, orderCateTwo, title, pattern) {
        var cate       = title.subject.cate;     
        var cateTwo    = title.subject.cateTwo;
        var patCate    = pattern.cate;
        var patCateTwo = pattern.cateTwo;
        var firstRow   = Array(),
            secondRow  = Array(),
            mergeCells = Array();
        var i, j, cateCnt, cateTwoCnt, ret  = {};

        // 基础标题
        for (i = 0; i < orderBase.length; i++) {
            firstRow.push(title[orderBase[i]]);
            secondRow.push('');

            // 合并单元格
            mergeCells.push(
                {row: 0, col: i, rowspan: 2, colspan: 1}
            );
        }

        // 成绩标题
        for (cateCnt = 0, i = 0; i < orderCate.length; i++) {
 
            if($.inArray(orderCate[i], patCate) === -1) {
                continue;
            }

            for (cateTwoCnt = 0, j = 0; j < orderCateTwo.length; j++) {
                if ($.inArray(orderCateTwo[j], patCateTwo) === -1) {
                    continue;
                }

                firstRow.push(cate[orderCate[i]]); // 一级类目
                secondRow.push(cateTwo[orderCateTwo[j]]); // 二级类目
                cateTwoCnt++;
            }

            if (cateTwoCnt !== 0) {
                // 合并单元格
                mergeCells.push({
                    row: 0,
                    col: orderBase.length + cateCnt * cateTwoCnt,
                    rowspan: 1,
                    colspan: cateTwoCnt,
                });
            }

            cateCnt++;
        }

        ret = {
            firstRow : firstRow,
            secondRow : secondRow,
            mergeCells : mergeCells,
        };

        return ret;
    }

    function setInfo(orderBase, orderCate, orderCateTwo, info, pattern) {
        var patCate    = pattern.cate;
        var patCateTwo = pattern.cateTwo;
        var infoRow, cateInfo, cateTwoInfo;
        var i, j, k;
        var ret = Array();

        for (i in info) {
            infoRow = Array();

            // 基础信息
            for (j = 0; j < orderBase.length; j++) {
                infoRow.push(info[i][orderBase[j]]);
            }

            // 成绩信息
            for (j = 0; j < orderCate.length; j++) {
                if($.inArray(orderCate[j], patCate) === -1) {
                    continue;
                }

                cateInfo = info[i].subject[orderCate[j]]; // 一级类目

                for (k = 0; k < orderCateTwo.length; k++) {
                    if ($.inArray(orderCateTwo[k], patCateTwo) === -1) {
                        continue;
                    }

                    cateTwoInfo = cateInfo[orderCateTwo[k]]; // 二级类目
                    infoRow.push(cateTwoInfo);
                }
            }

            ret.push(infoRow);
        }

        return ret;
    }

    function firstRowRenderer(instance, td, row, col, prop, value, cellProperties) {
        Handsontable.renderers.TextRenderer.apply(this, arguments);
        td.style.padding = '5px';
        td.style.fontWeight = 'bold';
        td.style.color = 'white';
        td.style.background = '#444';
    }
    </script>
</block>