<extend name="MobilePublic/base"/>

<block name="style">
    <link href="__STATIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__CSS__/mobile/homework.css?v={:SITE_VERSION}" rel="stylesheet">
</block>

<block name="content">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <div class="section">
            <div class="title">
                当天作业 <small class="pull-right">{$Think.NOW_TIME|date='Y-m-d',###}</small>
            </div>
        </div>
        
        <foreach name='student_list' item='stdudent'>
        <div class="section">
            <div class="content">
                <!-- 单个学生 -->
                <!-- -->
                	学 生 <small class="pull-right">{$stdudent.true_name}</small> 
                <!-- 多个学生 
                学 生 
                <select class="pull-right" name="student">
                    <option value="#" selected>
                        季明吉
                    </option>
                    <option value="#">
                        季日吉
                    </option>
                </select>
                
                -->
            </div>
        </div>
        <foreach name="stdudent['homework']" key='subject_id' item='hw' >
        <empty name="hw">
        <div class="panel panel-info">
            <div class="panel-heading">{$subject_id|conver_subjectId_to_name}</div>
            <div class="panel-body">
                <p>
                  暂未布置作业
                </p>
            </div>
            <div class="panel-footer">建议用时：0分钟</div>
        </div>
        <else />
        <div class="panel panel-info">
            <div class="panel-heading">{$subject_id|conver_subjectId_to_name}</div>
            <div class="panel-body">
                <p>
                  {$hw.content}
                </p>
            </div>
            <div class="panel-footer">建议用时：{$hw.suggest_time}分钟</div>
        </div>
        </empty>
        </foreach>
        
      </foreach>
    </div>
    </div>
    </div>
</block>

<block name="script">
    <script>
    $('select[name=student]').change(function(){
        location.href = this.value;
    });
    </script>
</block>