<extend name="MobilePublic/base"/>

<block name="content">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="{:U('Bind/family')}" method="post">
            <h1><strong>家长绑定</strong></h1>
            <div class="form-group has-feedback">
                <label class="sr-only" for="pin2">学生学号</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="pin2" name="pin2" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="学号">
                    <span class="form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="sr-only" for="name">学生姓名</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="name" name="true_name" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="学生姓名">
                    <span class="form-control-feedback"></span>
                </div>
            </div>
            
            <!-- 第一次绑定学生信息需要输入家长资料 !-->
            <if condition="$bind_flag eq false ">
            <div class="form-group has-feedback">
                <label class="sr-only" for="parentName">家长姓名</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="parentName" name="parent_name" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="家长姓名">
                    <span class="form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="sr-only" for="phone">手机号码</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="phone" name="parent_mobile" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="手机号码">
                    <span class="form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-xs-12">
                    <select class="form-control" name="relation">
                        <option value="父亲" selected> 父亲</option>
                        <option value="母亲"> 母亲</option>
                        <option value="爷爷"> 爷爷</option>
                        <option value="奶奶"> 奶奶</option>
                        <option value="外公"> 外公</option>
                        <option value="外婆"> 外婆</option>
                    </select>
                </div>
            </div>
            </if>
            <!-- 结束输入家长资料 !-->
            
            
            <div class="form-group has-feedback hidden" id="passwdGroup">
                <label class="sr-only" for="passwd">家庭密钥</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="auth_code" name="auth_code" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="家庭密钥">
                    <span class="form-control-feedback"></span>
                 </div>
            </div>
            <input type="hidden" name="openid" value="{$openid}">
            <input type="hidden" name="bind_flag" value="{$bind_flag}">
          
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="绑定中..." autocomplete="off">绑 定</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
</block>

<block name="script">
    <script>
    $(function(){
        //初始化选中用户名输入框
        $("#pin2").focus();
        $('[data-toggle="popover"]').popover();
        //表单提交
        $("form").submit(function(e) {
            e.preventDefault();

            var form = $(this);
            var btn = $("button:submit");
            btn.button('loading');
            $.post(form.attr("action"), form.serialize()).success(function(data){
                btn.button('reset');
                if (data.status) {
                    showLoginTip(form);
                    window.location.href = data.url;
                } else {
                    if(data.hint.auth_code) {
                        $("#passwdGroup").removeClass('hidden');
                    } else {
                        $("#passwdGroup").addClass('hidden');
                    }
                    showLoginTip(form, data.hint);
                }
            });
        });

        function showLoginTip(form, data) {
            $("input", form).each(function(index){
                inputName = $(this).attr("name");
                var row = $(this).parents(".form-group");
                tipIcon = row.find('.form-control-feedback');

                // 显示提示
                if (data && data[inputName]) {
                    $(this).attr('data-content', data[inputName].errorInfo);
                    $(this).focus();
                    row.addClass("has-error");
                    tipIcon.addClass("glyphicon glyphicon-remove");
                     
                } else {
                    $(this).attr('data-content', "");
                    row.removeClass("has-error");
                    tipIcon.removeClass("glyphicon glyphicon-remove");
                }
            });
        }
    });
    </script>
</block>
