<extend name="MobilePublic/base"/>

<block name="content">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" action="{:U('Bind/family')}" method="post">
            <h1><strong>绑定学生</strong></h1>
            <div class="form-group has-feedback">
                <label class="sr-only" for="pin2">学号</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="pin2" name="pin2" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="学号">
                    <span class="form-control-feedback"></span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <label class="sr-only" for="name">学生姓名</label>
                <div class="col-xs-12">
                    <input type="text" class="form-control input-lg" id="name" name="true_name" data-container="body" data-toggle="popover" data-placement="top" data-trigger="focus" placeholder="学生姓名">
                    <span class="form-control-feedback"></span>
                </div>
            </div>
            <input type="hidden" name="openid" value="{$openid}">
          
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="登录中..." autocomplete="off">绑定</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>
</block>

<block name="script">
    <script>
    $(function(){
        //初始化选中用户名输入框
        $("#pin2").focus();
        $('[data-toggle="popover"]').popover();
        //表单提交
        $("form").submit(function(e) {
            e.preventDefault();

            var form = $(this);
            var btn = $("button:submit");
            btn.button('loading');
            $.post(form.attr("action"), form.serialize()).success(function(data){
                btn.button('reset');
                if (data.status) {
                    showLoginTip(form);
                    window.location.href = data.url;
                } else {
                    showLoginTip(form, data.hint);
                }
            });
        });

        function showLoginTip(form, data) {
            $("input", form).each(function(index){
                inputName = $(this).attr("name");
                var row = $(this).parents(".form-group");
                tipIcon = row.find('.form-control-feedback');

                // 显示提示
                if (data && data[inputName]) {
                    $(this).attr('data-content', data[inputName].errorInfo);
                    $(this).focus();
                    row.addClass("has-error");
                    tipIcon.addClass("glyphicon glyphicon-remove");
                     
                } else {
                    $(this).attr('data-content', "");
                    row.removeClass("has-error");
                    tipIcon.removeClass("glyphicon glyphicon-remove");
                }
            });
        }
    });
    </script>
</block>
