<extend name="MobilePublic/base"/>

<block name="header">
    <include file="test/myinfomodal"/>

    <div class="modal" id="parentModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="h3">请让需要添加的家庭成员在微信中绑定该家庭的学生，并输入密钥 <span>{$personal.auth_code}</span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确 定</button>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="style">
    <link href="__STATIC__/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__CSS__/mobile/myinfo.css?v={:SITE_VERSION}" rel="stylesheet">
</block>

<block name="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-xs-12">
        <div class="section">
            <div class="title">
                我的信息
            </div>
            <div class="content">
                <div class="list-group">
                    <div class="list-group-item">
                        <p>姓名<span class="pull-right">{$personal.name}</span></p>
                    </div>
                    <a class="list-group-item">
                        <p>手机<span class="pull-right">{$personal.mobile}</span></p>
                    </a>
                </div>
            </div>
        </div>
        
        <foreach name="family_list" key="fid" item="family">
        <div class="section">
			<div class="title">
				<if condition="$family['master_flag'] eq true">
				我管理的家庭
				<a class="pull-right" id="manager" data-state=false href="javascript:;">
                    <i class="fa fa-cog fa-fw"></i>
                    <span>管理</span>
                </a>

				<else />
				我的家庭 <if condition="$fid neq 0 ">（{$fid+1}）</if>
				</if>
			</div>
			
			<div class="content">
                <!-- 列出学生信息 !-->
                <div class="heading">
                    孩子
                    <if condition="$family['master_flag'] eq true">
                    <a class="pull-right" href="{:U('bind/family?openid=' . $openid)}">
                        <span class="glyphicon glyphicon-plus"></span> 添加
                    </a>
                    </if>
                </div>
                
                <div class="list-group"> 
                	<foreach name="family['studentInfo']" item='student'>
                	<div class="list-group-item">
                        <p>{$student.true_name}({$student.class_name})<span class="pull-right">学号：{$student.pin2}</span></p>
                    </div>
                	</foreach>
                </div>
               
                <!-- 列出家长信息 !-->
                <div class="heading">
                    家长
                    <if condition="$family['master_flag'] eq true">
                    <a class="pull-right" data-toggle="modal" href="#parentModal">
                        <span class="glyphicon glyphicon-plus"></span> 添加
                    </a>
                    </if>
                </div>

                <div class="list-group" data-id="parentList">
					<foreach name="family['parentInfo']" item='parent'>
                	<div class="list-group-item">
                        <p>{$parent.name}
                            <span class="pull-right">{$parent.family_role} <i class="hidden fa fa-remove fa-lg fa-fw text-danger" data-toggle="modal" data-target="#myModal" data-info-name="{$parent.name}" data-info-relation="{$parent.family_role}" data-info-manager=true data-submit-param="{$parent.id}"></i></span>
                        </p>
                    </div>
                	</foreach>
                </div>    
            </div>
        </div>
        </foreach>
        <foreach name="family_list" key="fid" item="family">
            <if condition="($fid eq 0) AND $family['master_flag'] neq true">
            <div class="section">
                <div class="content">
                    <a class="btn" href="{:U('bind/family?openid=' . $openid)}">
                        <span class="glyphicon glyphicon-plus"></span> 绑定更多的孩子
                    </a>
                </div>
            </div>
            </if>
        </foreach>
    </div>
    </div>
    </div>
</block>

<block name="script">
    <script>
    $(function(){
        $("#manager").click(function(event) {
            var state = $(this).data('state');
            if (state === true) {
                // 已经激活
                $("i", this).removeClass('fa-spin');
                $("span", this).html("管理");
                $("i", "[data-id='parentList']").addClass("hidden");
                $(this).data('state', false);
            } else {
                // 未激活
                $("i", this).addClass('fa-spin');
                $("span", this).html("退出管理");
                $("i", "[data-id='parentList']").removeClass("hidden");
                $(this).data('state', true);
            }
        });
    });
    </script>
</block>
