<extend name="Public/base"/>

<block name="content">
    <div class="panel panel-info">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a  data-toggle="tab" href="#baseSetting" >基础设置</a>
            </li>
            <li role="presentation">
                <a  data-toggle="tab" href="#none">#</a>
            </li>
        </ul>

        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="baseSetting" role="tabpanel">
                    <div class="ell-setting">
                        <h2 class="title">用户中心</h2>
                        <label>模板主题:</label>
                        <div class="btn-group btn-group-lg">
                        <foreach  name="data.theme_list" item="vo">
                            <button type="button" class="btn <eq name='data.theme' value='$key'>btn-primary active</eq> ajax-get" target-form="ids" url="{:U('Index/process',array('method'=>'setTheme', 'value'=>$key))}">{$vo}</button>
                        </foreach>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="none" role="tabpanel">
                    <h2>暂无数据</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- 去除BOM头提示框 -->
    <div class="modal fade" id="makeSure"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">关闭</span>
                    </button>
                    <h4 class="modal-title">注意！</h4>
                </div>
                <div class="modal-body">
                    <p>您真的要去除勾选文件的BOM头吗？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" form="removeBom">确定</button>
                </div>
            </div>
        </div>
    </div>
</block>