<div class="modal fade" id="myModal" data-url="{:U('getMenuInitInfo')}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">关闭</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><span></span>菜单</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="myModalForm" role="form">
                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="title">菜单名</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="title" name="title">
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="col-sm-4 help-block hidden"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型</label>
                        <div class="col-sm-9">
                            <label class="radio-inline" id="radioClick">
                                <input type="radio" name="type" value="click" checked> 发送信息
                            </label>
                            <label class="radio-inline" id="radioView">
                                <input type="radio" name="type" value="view"> 跳转到网页
                            </label>
                            <label class="radio-inline" id="radioNone">
                                <input type="radio" name="type" value="none"> 带子菜单
                            </label>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <label class="col-sm-3 control-label" for="keyword">信息关键词</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="keyword" name="keyword">
                            <span class="form-control-feedback"></span>
                        </div>
                        <div class="col-sm-4 help-block hidden"></div>
                    </div>

                    <div class="form-group hidden">
                        <label class="col-sm-3 control-label" for="url">网页地址</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="url" name="url">
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-link" id="pop">从素材库中选择</button>
                        </div>
                        <div class="col-xs-12 hidden" id="material" data-url="{:U('Weixin/Weisite/articleList')}">
                            <hr/>
                            <div class="well" style="height:250px; overflow-y: auto; overflow-x: hidden;">
                                <p>请从素材列表中选择</p>
                                <div class="list-group">
                                    <p class="text-center">没有素材</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="0">
                    <input type="hidden" name="pid" value="0">
                    <input type="hidden" name="sort" value="0">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-submit="modal" data-target="#myModalForm" data-url="{:U('setMenuInfo')}" data-loading-text="提交中..." autocomplete="off">确 定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取 消</button>
            </div>
        </div>
    </div>
</div>

<script>
$(function(){

    initModalEvent('#myModal', initModal, initOtherEvent);

    function initModal($modal, data, isClear) {
        if (isClear) {
            $("[name='title']", $modal).val("");
            $("#material").addClass('hidden');
            return true;
        }

        $("span", "#myModalLabel").html(data.id===0?"添加":"编辑");

        // 一级菜单 显示“带子菜单”选项 二级菜单不显示
        if (data.pid === "0") {
            $("#radioNone").removeClass("hidden");
        } else {
            $("#radioNone").addClass("hidden");
        }

        // “带子菜单”的一级菜单 只显示“带子菜单”, 新添加时除外
        if (data.id!==0 && data.type === "none") {
            $("#radioClick").addClass("hidden");
            $("#radioView").addClass("hidden");
        } else {
            $("#radioClick").removeClass("hidden");
            $("#radioView").removeClass("hidden");
        }

        for (var i in data) {
            var $input = $("[name=" + i + "]", $modal);
            var type = $input.attr('type');
            
            if (type === "radio") {
                $input.filter("[value="+ data[i] +"]").prop('checked', true);
                setMenuType(data[i]);
            } else {
                // type === "text" || type === "hidden"
                $input.val(data[i]);
            }
        }
    }

    function initOtherEvent($modal) {
        $("input[name='type']", $modal).click(function(event) {
            setMenuType(this.value);
        });

        var $material = $("#material");

        $("#pop").click(function(event) {
            $material.removeClass('hidden');
        });

        $material.on('click', '.list-group-item', function(event) {
            event.preventDefault();
            var url = $(this).data("url");
            $("#url").val(url);
            $(".list-group-item", $material).removeClass("active");
            $(this).addClass("active");
        });

        var url = $material.attr('data-url');
        $.get(url).success(function(data){
            if (data.status) {
                if (data.data) {
                    var $listGroup = $(".list-group", $material);
                    $listGroup.html("");
                    var lists = data.data;
                    for (var i = 0; i < lists.length; i++) {
                        $("<a class='list-group-item' href='#'></a>")
                        .html(lists[i].title)
                        .data('url', lists[i].url)
                        .appendTo($listGroup);
                    }
                }
            }
        });
    }

    function setMenuType(type) {
        var $keyword = $("#keyword");
        var $url = $("#url");
        var $keywordBlock = $keyword.parents(".form-group");
        var $urlBlock = $url.parents(".form-group");

        if (type === "none") {
            $keywordBlock.addClass('hidden');
            $urlBlock.addClass('hidden');
            $keyword.val("");
            $url.val("");
        } else if(type === "view") {
            $urlBlock.removeClass('hidden');
            $keywordBlock.addClass('hidden');
            $keyword.val("");
        } else {
            $keywordBlock.removeClass('hidden');
            $urlBlock.addClass('hidden');
            $url.val("");
        }
    }
});
</script>