    <div class="container">
        <block name="header"></block>
    </div>

    <!-- 内容 ================================================== -->
    <block name="content"></block>

    <!--  页脚，版权信息   ================================================== -->
    <div class="container-fluid">
        <div class="row ell-content-footer">
            <div class="col-xs-12">
                <p class="text-center">
                    网页由<strong>e朗朗校园平台</strong>提供技术支持
                </p>
            </div>
        </div>
    </div>
    <!--  /页脚，版权信息   ================================================= -->
