    <div class="container">
        <block name="header"></block>
    </div>
    <div class="container">
        <!-- 内容 ================================================== -->
        <div class="row">
            <block name="content"></block>
        </div>
        <!--  页脚，版权信息   ================================================== -->
        <div class="row ell-content-footer">
            <div class="col-xs-12">
                <p class="text-center">
                    网页由<strong>e朗朗校园平台</strong>提供技术支持
                </p>
            </div>
        </div>
        <!--  /页脚，版权信息   ================================================= -->
    </div>