<ul class="nav nav-blocks nav-stacked" role="tablist">
    <li class="active">
        <a href="javascript:;" data-toggle="collapse" data-target="#menu1">
            <i class="fa fa-file-text-o"></i>
            文档管理
            <span class="pull-right"><i class="fa fa-caret-left fa-lg"></i></span>
        </a>
        <div class="collapse in" id="menu1">
        <ul class="sub-menu">
            <li class="<eq name='Think.ACTION_NAME' value='mydocument'>active</eq>">
                <a href="{:U('article/mydocument')}">我的文档</a>
            </li>
            <li class="<eq name='Think.ACTION_NAME' value='draftbox'>active</eq>">
                <a href="{:U('article/draftbox')}">草稿箱</a>
            </li>
            <li class="<eq name='Think.ACTION_NAME' value='examine'>active</eq>">
                <a href="{:U('article/examine')}">待审核</a>
            </li>
            <li class="<eq name='Think.ACTION_NAME' value='recycle'>active</eq>">
                <a href="{:U('article/recycle')}">回收站</a>
            </li>
        </ul>
        </div>
    </li>
</ul>
