<div class="list-group">
    <a class="list-group-item ell-sidebar-title" href="#" >文档管理</a>
    <a class="list-group-item <eq name='Think.ACTION_NAME' value='mydocument'>active</eq>"
        href="{:U('article/mydocument')}" >我的文档</a>
    <a class="list-group-item <eq name='Think.ACTION_NAME' value='draftbox'>active</eq>"
        href="{:U('article/draftbox')}" >草稿箱</a>
    <a class="list-group-item <eq name='Think.ACTION_NAME' value='examine'>active</eq>"
        href="{:U('article/examine')}" >待审核</a>
    <a class="list-group-item <eq name='Think.ACTION_NAME' value='recycle'>active</eq>"
        href="{:U('article/recycle')}" >回收站</a>
    <a class="list-group-item ell-sidebar-title" href="#" >文档列表</a>
    <a class="list-group-item" href="" >学校概况</a>
</div>